<h1>Listing listings</h1>

<table>
  <thead>
    <tr>     
      <th></th> 
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= image_tag listing.image.url{:medium} %> </td>
        <td><%= listing.name %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <td><%= link_to 'Show', listing, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
